# Database (Supabase PostgreSQL or Local Postgres)
# DATABASE_URL="postgresql://[USERNAME]:[PASSWORD]@[HOST]:[PORT]/[DB]"
DATABASE_URL="postgresql://postgres:[PASSWORD]@[HOST]:6543/postgres"

# Better Auth Secret & Base URL
BETTER_AUTH_SECRET="your-super-secret-key-min-32-chars"
BETTER_AUTH_URL="http://localhost:3000"

# Realtime Driver Strategy: 'durable-object' (Cloudflare MVP) | 'websocket' (VPS / Standalone) | 'sse' (Fallback)
VITE_REALTIME_DRIVER="durable-object"
